.jing{
	width: 1100px;
	height: 738px;
	margin:0 auto;
	margin-top:58px;
}
.jingleft{
	width: 635px;
	height: 737px;
	float: left;
}
.jingright{
	width: 465px;
	height: 738px;
	float: right;
	background-color:red;
	li{
		font-size: 0;
	}
}
